<!DOCTYPE html>
<html data-use-rem="750">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <!-- 去掉winphone系统a、input标签被点击时产生的半透明灰色背景 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--ios微信浏览器中禁止自动识数字别为电话链接-->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.projectPath%>/css/base.css">
    <title>百发夺宝</title>

    <!--dev-->

    <script src="<%=htmlWebpackPlugin.options.projectPath%>js/plugins/rem/rem.js"></script>
    <script src="<%=htmlWebpackPlugin.options.projectPath%>js/plugins/jquery/jquery.min.js"></script>
    <script src="<%=htmlWebpackPlugin.options.projectPath%>js/plugins/crypotojs/CryptoJS.js"></script>
    <script src="<%=htmlWebpackPlugin.options.projectPath%>js/plugins/fastclick/fastclick.js"></script>
    <script src="<%=htmlWebpackPlugin.options.projectPath%>js/plugins/lodash/lodash.min.js"></script>
    <script src="<%=htmlWebpackPlugin.options.projectPath%>js/plugins/store/web-storage-cache.min.js"></script>
    <script src="<%=htmlWebpackPlugin.options.projectPath%>js/view/base.js"></script>
    <script>
        var baseUrl = '<%=htmlWebpackPlugin.options.projectPath%>';
    </script>

</head>
<body>
<div id="app"></div>


</body>
<!-- built files will be auto injected -->
</html>
